<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="666" />
    <add key="mainForm.Location.Y" value="115" />
    <add key="mainForm.Width" value="588" />
    <add key="mainForm.Height" value="800" />
    <add key="hiddenMenuItem" value="true" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEAFtn/dk0T/2uh45sqpN4u04eAxgc+A8AAbSrPxgAAAA=" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEAFtn/dk0T/2uBwPDB8cllyPzGMDgwH8AtEsFMBgAAAA=" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAFtn/dk0T/2ux/Pz1U5LLkfmMYDBgf8AKCM1CRgAAAA=" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEANtm/i87V/2uBwPDEkfx8+VMDGCg4tjWHQxlL3E0CUuGi09/eKYbwj7wvzrnHSNMTZx6JVzNgUdeUPYKRx7pJChbw5HnVi2cXXfTH67Gsz8ZLu4/AeYGHccXFRFQ9hpHlanpcHGzaoSaKIEguDkTlDLg5tw9Uwxn278MgavxuBwPF+++VgNnG+cg3OPAGg0Xv8CCUBN1PhSu5pcxkpqEOrjfP21HhNs25iS4eOmFKrj4rU1hCLZ/DFyNYCrMXwqO+3+Gw9V4qyfBxdPTGuBs4QyYOQsct2+KgItbVf0KhrAP/Gc48pQRpuaTQgrcLpH5xXD2yftBcLsOlsfDxZNPlcHZAJc9MWwoAgAA" />
    <add key="/nvidiagpu/0/fan/0/values" value="" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAJNc/TsvV/2uBwNDhwur/L9+BjA48N/k6CsWCJvbeeKRu+4w9u2HChEwNacmVbJC2B0u+U/V2WFsAEZLXaBUAAAA" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAJNc/TsvV/2uh8nmKFdW+X/9DGBw4L/J0VcsIBZjwynniUfuusPYtx8qRMDUnJpUyQpigfTmP1Vnh7EBznJy91QAAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAJNc/TsvV/2uBwMDhyur/L9+BjA48N/k6CsWCLvbeeKRu+4w9u2HChEwNacmVbJC2Byu+U/V2WFsAPO7wjlUAAAA" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAJNc/TsvV/2uBwNDg93kRoYJDGBw4P+ypBcsEDaDvXOqJjuUzeAXv8UBxr79UCECpv7UpEpWCLvBLv+pOlw9AFztyxxgAAAA" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAJNc/TsvV/2uBwMQTG5kmMAABgf+L0t6wcIABROP3HWHsW8/VIiAqTk1qZIVJp7/VJ0dxgYAfcVoPVQAAAA=" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAJNc/TsvV/2uBwMQTG5kmMAABgf+L0t6wcIABROP3HWHsW8/VIiAqTk1qZIVJp7/VJ0dxgYAfcVoPVQAAAA=" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAJNc/TsvV/2uBwMQTG5kmMAABgf+L0t6wQJhN9g7p2qyQ9gM9jKWZlC2g711A4KtpKMLZTfY+e03gKt/2K0EF9fbZQQXn1uczAdj32YwhKmxv/1QIQLmhlOTKlmhahjyn6rD9DIAADuRFKS0AAAA" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEANtm/i87V/2ux+qs1/YXN+ixMwABiK3qcr6bAQwO/H/L+YYRJh4yh8Efxr6Y9CsYpobhyFO4ms8PGXhgbADUS1FhYAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEANtm/i87V/2uB0PFHteLG/TYGUAAyFZ1Od8NZjMc+P+W8w0jTDxkDoM/jH0x6VcwTA3DkadwNZ8fMvDA2AAsoeW1YAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEANtm/i87V/2uBwPDI6eLG/TYGcDgkZOqy/luCPvA/7ecbxhh4iFzGPxh7ItJv4JhahiOPIWr+fyQgQfGBgDJH/FpYAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEANtm/i87V/2uBwPDAdeLG/TYGcDggKuqy/luKPv/W843jDDxkDkM/jD2xaRfwTA1DEeewtV8fsjAA2MDACHvPwxgAAAA" />
    <add key="/nvidiagpu/0/control/0/values" value="" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAFt4zSYnV/2uh5/SPscpvZVMDEBQXrfPUU5PGMx+wL/PMdN9IZj95e93h++7JnczgMGB/29tVcHiGoZPHNpkIHo3FP12mBjID2YfVXjvMP3OEqj4N4eEdw1gtonxL4e7LVxg9ixJBsdbZhDzyyZ/d2h9Vwtmr5H57nAxVQTMThZ47bDt5iow2ynhl8NsZYhdD/x/Oazw5gWzW1//cJAzWwlmH/n6w2GaOkTNTjkWx8BsPjD7wvfvDvO554PZhhwMjv5FELtaDvxw6OGGuJm98bPD5nczwOzEVAbHa9EQNy+U+uXwsE8Y6t9vDkJms8Ds7xr/HWYbNILZVlu+O/A/EwSz50s9dmg6txjM3jT3m0PYEYg5wFB0OP8AYteMvK8O2tEzwWyHrUyOMREQNX5Jvxwa+SDmZE2848BhswjMXiD106FVpwFq5keHbUziYHaq9X2H1Qengtk67R8dKncdDIbFkf//B4xg80v3Os6vgZiTu3yf44O/5WD2h+f7HANUBcBspYJ9jk1Zc8Fs1+59jomaldD42ucIAIp8mnooAgAA" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEAGuZ65iTq37Xg6FDwHHR22omBhDgyHAsr3KAsCukHZVnFULYq0wcP3/p6wazGQ78v5+iAxFf5+JYL1MJYW+oc0zdIAhh35F23CKzAMLmKnAsC2iCsCNqHPkeCEDYy1QcqyNmQ9jPYhznFdVC2CJpjre6hCDsNwKOU56sgepNdtx0qwLCPlHleHGzFdReKUdG6xoI26bAcboS1D3LuB3tXKHuidjosODBHAh7V4ljnADUvxaVjqUXhaH2PnMw6J4GYTN4ONb8hLpHIcUxyEsFwt7G4Hj2TjeEnVTkeFetAcKuq3OcFy4KYe9QdJyYthDCPmLh2NhTB2G35ThqnDOBsBtyHbmcSyBsFU3HReFQc2rKHI9Ym0PYVcqOeoJQf8057vD/ZTPcPaHrVCHsM8scBI41Qtgtko5v2vYFw+Jo0fkvjJA4EnL8WDAZoqb6gOOhv+UQtuFqR40XIhB2mbDjGQ5oXMxJcNynBQ1DqVRHANlGkPIoAgAA" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEACtJcsvJVb/rwWAh6mD1ppqJAQQMIh3+BUVA2ByyDmkHI6HiRQ4LDbu6wWyGA/+jNQwh4hNO2nfKVkLYDjIO+ly2EPaDb/YBKuUQdoeTw5a6egj7B59DsaA9hJ0g78DwKwfCVjBysEurg5pp4GD5QgnCFrhmv3zJLAhbQsjBq6AKwr6h4rB9UQpU7xP7om+BcPF3D6HuWRHnUHnTEsI+IeagcqMY6jYhhzqBarj4uQZnCPvDJXsHi3QI+4CGw3nGBgh7g5RD8q0AqPhne5OXMXB3Jnc2QdgVJg4XjS0g7ICv9swaNfBwm9UD9VeFtIPXZRN4OCyzLYGw/7Q6HN4BNWeDscP8uUEQ9gUWB2+/OGhYZTkEOjdDw9nU4ftDa6hdd+xVw6Bh2BHt4Ll0ZzAsjm5nC0LDQdghfSbUvxdkHXQSoGHY0uDgp6QPDUNJB8McqDt/FDlc1YKG4Y18BwDXiZ7jKAIAAA==" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEADXRSyiEURQH8JmhWFjZYEFpFiiPyGKw8acwmDxKiLzHo2jGlCLKI6ShCDXGirIY752mKFKSCSEWFpTC/T7jWUbxGa9zcle/bvf+7zn3RFtszS0RF1nOFRkPujqN6nfFh8qw9RvJFq2MTbUYUdHa+r5b1/n86SnpEe+ztXRmVPeMhYUqvnvwBHtWB3nK/xk32Xnkit4XpB1XkhP3XqHSDJBbtz24NBaQJ2oVhAdzDSm+n9AvN5L7Qj6xeNbEOQYF2Sfl5LYTBcMzvN9kU2Ddqed3572wT5eQq+xfcCqccxTlhjfSRE47vcaSq4jsrb7CpKOb39XImA02kPemZOyaqsm+GTL0h+3kuVQJYV2cH5AsYCvnmvO0Ao557nElUCDWyvu39wKuowZyZ7iEt8wa/qtzAbPLTE4fFxjTl5LXcn7z5U5yXL2EmMMy8sexgNrJvTsGBawd/P86tYCna7Xwf0bNpniakXtYQk8Kz+UsX0KCH890slKCMYj7GiqWkASux7AjsG/lzNwNgR9cKjsiHAIAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEADXRSyiEURQH8DEWlAW6n+bzGt8ooVBkQbL4S8yIRCmiPMer0YgSRrEYmw8ZwjRsiMV45bn4imJhkknTIKzMQk2iLBQiTR7n5qx+3e49nXP/aT12U1fynb7wSsBzTota9VuzfQLsViN5alDAUdDDuIrq+PvpICf4T1GKBp9LzXTHEBCxttZAflBEOPQD5EOfCH9JOXnHE42Ci3rypD8WKvUof2uNg89YQY6NkaAT+QymEQmGzXby54SE9esO8nuYhJLLOrLSIGFskZ/H50mQXa1k17gOjvlqsiUpEcoX77N7EoVAipn8dRCJDXcVWSOHY8Y5TO40ClgSy8ilLgGn5kbynE2AwdNPTnhi0A7x/vcFDPY6PnNbNoNzle/oTWXIkPn52T6D29tGLrpheC9uIuc7Gbrd3eQIC4PNUENOe/nt/2ghh6oFpHtqySvLDEEK332zl0Ee4P+/rWV4G9qq/M/IZM6kjCJjBIzk8VzMrwxZITzTqwCDUcP32vtgyAWfZ3qB4VzmPW9nGX4AuXaVdxwCAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEADXRSyhEYRQH8BmSjSwkZqUsPBLCapDyt2FEHqXIlOd41GgkQog0pDHFQk1jIbMbj7m4zpVHoYS6NCFKahSSVxYK5ZXH+XJWv05fp3O+f3yLw9wU48vxlhAe9bV+mt+KthIcVhM7pp+wob2xa7g2v+/X9P5/qruS8eaq4Td7mTKmpyvZn9UynDmd7JBCGde5Bezw0wVkHVaw3fvz0PgNsPN65nFuKmLXyBIidWKHtF4JBk8Du7VDwsxJI7ttRULukZEdOiJheFL0L10SbNt17OA3D5zjpWx51oPlDzEnzLeIr1gLu+VCwaxawq59X8KYu5e9aie4dPls1UjYtVSxo9oJBm8Hu0olRHSL+ZoIBQ6j2DkjSoF7Stw4FKcg0Sb6QdcE9aCenX9MeM2uZhc/EJrVZvatVsGooYx9tvM7/66LbV4nJHjL2ROPBO2yuN0ZoMDWKf5fl6TgpXuu+D8jsyWZM6qXCX3pIhf9NiElUGQ6uEkwhYu7wrYIqRD7uJ8I+zYx0/pM+AH9k+d+HAIAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAMte9yU7V/2uh9JDD8dzZ8qZGIBA+so/B98JwWA28yJhR6PgZDD79ZNjDlsVRLoZwODA/7O6y8HiaXUTHCfKVoLZF/50OUq98gKzp35md0yUTQKzw04zO8ZIQMxx8rR1fPY2FcxmaDjq2F2bAWbbrKxyZMrNAbPVLjx37JuSAmZLvH3kGFucBmGf9HKcXgUx562LnKN2JkRNpnaMY+PxTDB794RQR+H1iRDzMz46Vs6Bqv+w1TGyFsLOMD/p+MsT4jbPyiLHKbUQ9p2EOY7nP0L03jtZ5WSoBDH/TpG/o5sWxPx5KwwcbzEkgNlC53Ucq55C3F+35L/DlXiI+uNhzx1yT0LcvFP7msO63xB7NdhUHU12QtQnqTM7NilC7OpeyuG4/h3UzSviHO/+hoRPhl2Q4+NpEHtvab5w0HSvB7MdDpg7mjL5gdnnBAUddWwg7mc4wO84b699MCyOLjcsAIszLg930pWAuC3LKtPp2wyI+xlCOhwV6yFuY3B47vDnGcQNR2KNHR/sKYOkhyMPHQCyHS++KAIAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAMte9yU7V/2ux4voS47nzpQzMQDBmf29jr4TgsHsKvkQR6PgZDBbZLeno2izWDcDGBz4n3t6CVi8++UJx4mylWD2144+R6lXXmD2qqxsx0TZJDCbwcHUMUYCYs4/qwzHZ29TwewblZ8cu2szwOyutcccmXJzwOzHF22d+qakgNliXbxOscVpYLa/4QTH6VXJcDO1MyFqHpya4dh4PBPM5rVtcRRenwhRY/DJsXIORP2NmWcdI2sh7LkyRx1/eULcxiO+znFKLYRtdOm44/mPEL0n/hY7GSpBzN/Y1ujopgUxf96LPsdbDAlg9h85e8eqpxD3B12KdrwSD1F/9reAY+5JiJsd52k7rvsNsTfJPd/RZCdEvbpZpGOTItSdBVMc17+Dsj+0O979DQmfiTWljo+nQezt3MviqOleD2bfmlXuaMrkBwnP0xmOOjawcPZznLfXPhgWR5cbFoDFn23Ic9KVgLiN4Uib07cZCVC7djoq1kPDk8HD8c8ziBvUzvU6PthTBmbzu9Q5AgDOlPSkKAIAAA==" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAMte9yU7V/2uh9qvfQ7nzpQzMQCB/PcuB98JwWA2i/F9B6PgZDBbvczNXrRZrJsBDA78zz29BCy+fEuk40TZSjDb7LOPo9QrLzD7RKGmQ6JsEpjN4MDsGCMBMefRQxPHZ29Tweyjeuscu2szwGwmB3FHptwcMDuEc7Nj35QUMHuS2iHH2OI0MPt/p6Dj9CqIOQwNixy0MyFq7ENDHBuPZ4LZDjfbHYXXJ0LUcLA4Vc6BqNcQ2+wYWQthry6+6fjLE+K2S6eSHKfUQtiyX+Y5nv8I0dsl2OZkqAQxP8lUy9FNC2J+Ejur4y2GBDDbpd3CseopxP1zg244XImHqH/hsNAh9yTEzZN8Zzus+w2x1yen0sFkJ0S975oFDk2KELs0v812WP8O6maFWse7vyHhk/jc1vHxNIi95UpTHTTd68FszxQ2R1MmPzCb03ivg44NNJwbch3m7bUPhsXR5YYFYHHz6EgnXQmI24CmOn2bkQBjOyrWQ8NzAY/jn2cQN9hxyTg+2FMGZnNNmusAAKpkxK8oAgAA" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAMte9yU7V/2ux9TyUw7nzpQzMQDBzgeTHHwnBIPZUitfOhgFJ4PZFUo/HUSbxboZwODA/9zTS8Di2/wnO06UrQSzxe3POUq98gKza17KOSbKJoHZp0JvOsRIQMyZNDHY8dnbVDD7Budxx+7aDDDb2rDKkSk3B8xmj7/n2DclBcxukX7nGFucBjHHMtRxehXEnBszmxy1MyFqSn8mODYezwSz+0p1HIXXJ4LZDAp/HSvnQNQnu89yjKyFsHNMNzj+8oS47UpKh+OUWgg79OsUx/MfIXrnleU7GSpBzOcorHV004KY3zXXyfEWQwKYrcXh7Vj1FOJ+lti3DlfiIerPpak75p6EuHntqv0O635D7E16HuZoshOi/p0Kj2OTIsQuNbPdDuvfQd2ckOV49zckfBgWpDk+ngaxd06EoqOmez2YHWFg4mjK5Admf1im5qhjA3E/wwMXx3l77YNhcXS5YQFY/M2kICddCYjbGH5EOn2bAXE/w4ZGR8V6iNsYDqxw+PMM4oZHa9kcH+wpA7M3Gas4AADorgOjKAIAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAMte9yU7V/2ux0NhK8dzZ8qZGICgqHKZg++EYDC765eoo1FwMpg9NyLHQbRZrJsBDA78zz29BCzOfKbQcaJsJZitkxzoKPXKC8xusr7mkCibBGa/Y7niECMBMWdaGYvjs7epEPN91zl212aA2XNueDsy5eaA2eUmkxz7pqSA2bJxBxxji9PA7Ld/lR2nV0HMYThwy0E7E6LG4CSnY+PxTDB73wJBR+H1iRA1DuccK+dA1Pud2eMYWQthfxC/5vjLE+I2LdcvDlNqIezF/dmO5z9C9U6odjJUgpg/T1zY0U0LYv68iF0OtxgSwOw90g8dqp5C3L/DttHhSjxE/ZuQbofckxA361Ytc1j3G2Lv0T5+R5OdEPXzbqx1aFKEuXOOw/p3MDaz493fkPBZ8lXP8fE0mL37HTTd68Hsvos6jqZMfmB2T+kaBx0biPsZGB46zNtrHwyLo8sNC8Div/84O+lKQNy2JDPG6dsMiPsZErIcFeuh4ckg5vDnGcQNy5X4HR/sKYOkhzuzHADZpWMOKAIAAA==" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAMte9yU7V/2uBwNDpNO5M+VMDGDg6eQ7IRjKDncyCk6Gsu2dCp5KdEPYB/4LZS6Cisc6TZSthLIznKReeUHZDk6JsklwvTESMHPinJ69TYWzu2szoOwAJ6bcHCg726lvSgqUXegUW5wGZbs5Ta+CmePupJ2ZAndn4/FMuJnC6xOh7Cinyjkw9aFOkbUwdrTTL0+Y23KdptTC2GlO5z9C9TY0ORkqpcDd5qYFM9/D6RZDAtw9VU8R7r8SD1Pv55R7Mg3u93W/EWFoshOm3tqpSRHmTjun9e8S4eF/93cqXM3jaTB7rZw03euh7EgnUyY/uLiODcz9pk5nnrgFQ9gH/i+NnAkVb3bSlYC5rdzp24wEuF2K9TC32Tr9eQZzg4/Tgz1lcDYAXle/uigCAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAMte9yU7V/2uBwNDhNO5M+VMDGBg5+Q7IRjKdncyCk6Gixc8leiGsA/8F8pcBBVPcZooWwllBzlJvfKCsu2dEmWToGxbpxgJmDkZTs/epkLZuU7dtRlQdoTT/hX5UHa508WIRCg72ym2OA3KdnWaXgUzx8tJOzMFyk52ajyeCWXHOAmvh+ltdqqcA1Mf6RRZC2PHO/3yhLktxGlKLYzt63T+I0xvq5OhEsx8Tyc3LZj5Lk63GBLg6quewtzv7HQlHqbewSn3ZBqcve43zF4nJ5OdMPU2Tk2KiXDx9e9gbA+nu79T4eY/ngaz19vpbV493MzCW75QtoWTjg3M/aZOZ564BUPYB/4vjZwJEW/octKVSIGH+bcZMPeHOxU8hNnl47S2JR5u/oM9ZXA2AFUTg6goAgAA" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAMte9yU7V/2uBwODn9O5M+VMDGBg7eQ7IRjKdnAyCk6Gixc8leiGsA/8F8pcBBUPc5ooWwlnS73ygrLtnBJlk+B669Jg5kQ5HZmfCmVHOnXXZkDZXk4Gq/Mh7IYGp4SwRKh4slNscRpcb3QfzBxXp/TQFCg70KnxeCZcXHg9TG+S09YHWVB2jJOsZQyU7ev0yxPmtgCnKbUwtofT+Y+JcDf86aiB21t9OADur1sMCfDwqXoKc7+P05X4FLia3JMwN9s6rfudDDffZCdMvYVTkyLMnTZO69/B2PZOd3+nwv3yeBrMX5ZOb/PqoWwrJ6e0cCjbySl6QwTcPWeeuAVD2Af+L42cCRVPd9KVgLkt1unbDJj7/Z0KHqbCzVzbEg9lezo92FMGFwcAB7MZSigCAAA=" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAMte9yU7V/2uBwNDotO5M+VMDGBg5eQ7IRjKDnQyCk6Gsj2cCp5KdEPYB/4LZS6Cimc5TZSthLJdnKReeUHZPk6JsklQtptTXRrMHH+nI/NToewwp+7aDCg71GnbmnwoO8CpIzURyi50Wp+UBjffaCLMnEinCUEpcPWNxzOhbHcn4fUwvTlO5qLZUHas02yWGCg72OmXJ8JtU2phbGen8x+hehtanf501EDFXZ2qDwfA3XCLIQGut+opzP22TkIqMDcEOemzJsHDbd1vmJsdnX7V5sLt2hMDc4+N0/p3iXDzubNhajydtqonwcXf5tXD2Zr94XA3lLRHQNmmTmeeuAVD2Af+L42cCRWPc9KVSIGHw7cZCXA3FDxMhbtzbUs8lG3h9GBPGVwNAD5Pf/UoAgAA" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAMte9yU7V/2uBwNDutO5M+VMDGDg4+Q7IRjKTnEyCk6Gsj2dCp5KdEPYB/4LZS6Cipc4TZSthLIznKReeUHZ/k6JsklwvXVpMHMqnY7MT4Xr7a7NgLKznLatyYeyO5w6UhMh7IYOp/VJaVDxGKevk2HmRDid9U+B29t4PBPOFl4P1cvQ7JRikw1lpzm5McVA2elOSqowt2U6TalNgqs5/xFm72Snfatr4OI7FwRA2V5OtxgS4H6segpzf7STkArMDfFO+qwwM32d1v1Ohoftr9pceJjsiYG5x8Vp/TuYm/2cuLNhalKdtqrDzAlxeptXD2UnOx1/EwE3/5pmOJTt6nTmiVswhH3g/9LImVDxLiddiRR4+H+bAXN/rFPBw1S4+Wtb4qHscKcHe8rgbAC0PY7gKAIAAA==" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEANtm/i87V/2ux2a3E07i58uZGIBgAZDd1h0MZs8Dsk3CksHsOUD2wmj+bgYwOPC/8NNqsPhdoHiceiVc/Zm/a1hg7PIPSWDx+UC28OEsMHsukO3Znwy36/i1fLj5BUYJcHGVqelw8ea1CPW891Lh5kxQyoDby3o3EW6X+M00uBqPy/FwNd3XauBmGuf4w810YI2G673AAlEzG8iOOh8KV/PLOBqu90JCHdzMT9uD4Xq3MSfBxd3+JcPFOVtz4eKr1mmzw9je6klwM9PTGhBhlREGZ2/fFAHXaxZtGwwLf5bHi8DiM9yBblBIgZsjMr8Yrvfk/SC43oPl8XA1yafK4P4CALKFuesEAgAA" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEADsp8D07V/2uR8wMeVe1y+VMDEDQflTc9WVnMJi9vibSNTE4Gcx++o/F9X2TWDcDGBz4z3x2CVhcJ97I9apiJZjN2GDqqv/EC8w+/InfNUsjCcx24L3tUsoKMSdSL87Viy0NzLbhjXb9GJUBZpsl8blO35YPZv+7n+Q6xz8RzD4zN8b1WxxEvZ0vg6v/Iog552z1XXPfp4DZp4HsHo9MMHvGbw3XyRMgelcYWrne/p8FZksttHCNeBINZsfvVHJd1A9x2796U9f+Bgi7fwOn6/F/EL12QLdtOVoNZncKmLuurAkEs9dNfO7S+jsezP5uIub66ynE/bksh1yqVCBuMD9k7RrLCjHz65cPLm/eQ9y86iKPa1RfLphd5v/QRTwsBuLHu4yuMd8h9jIqcLgKp0DUvIgzck3VgZgj7cjtmpfUAGYzA8O5MC0MzJYFiottjgCzlwDNz2x3CYbF0ffds8Hiv/bHu65TSIH79/yEBDB7JVC9w9NUOLu6AeIvK2B8tR0uA7MfCgu7AgAOfGkfKAIAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAFMr/pmdq37X45iMjuvxS+VMDEAwoeCJy7muYDC7qJ/NNSsoGczu28Dpyqwo0s0ABgf+v9JbDhbnKXFw7VKqBLOzWZxcsx97gdkeM+RdS9ST4GzBbxB2jVWw61nONDDbhjfaVTM0A8xuOSruyr0zH8wO04tzDXgaD2aX+Ce6+l1LB7OlHLldVeZB3NMPdI91bgqYfdpW37X1ZCaYPeO3hivr8kQwe4WhlSurFERcaqGF6+bNsWB25S1V195LNWD2kzgj1zI3DzCbUYHDdQ4vxJ12QLedPVYNZue/N3YtSgsEs09seuUiypwAZmctEXHd7lcHZp8BuiF4PyTcmBpMXZcwQMxZNfG5i+oLiJtXXeRx5ZiRCwkHoBuYwmLA7JVA8Yp3iXA3HC3MhYfJBNUkuJqXSQ1g9kI3D9efUWFg9gNhYdfEwxGQcLjL6Mqn4BQMiyM/uXlg8TvzYlwLFSBh9a/e1DV/ZjGYHX3OwPXD/SAwO7BZ0LWpFhLmhf4PXd4cKgOzHwLNBwBxkk0gKAIAAA==" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEALtw9Xd2rvpdDy9fBtfc8+VMDEDww2SaS05XMJh9qeOcS3RYMpit+ua6i8o+wW4GMDjwf8qElWDxa4ZWrh+UKsHsVlVX1+5HXmD2B08VVxv5JDC77ai468tPEPaZuTGuu02ywWwb3mhXIS2I+d9NxFyvbs6HiydaJIDZKm/CXZUWp4PZ0o7crt/mQdT3b+B0/eGdAmb7PbZz9b2ZCWYzNJi6xuxIBLOFtrm5ZnAjxFkWxYLZ8TuVXPWf1IDZc9w8XD3cPMBsRgUO1xIZiDvtgG74xw5RY5TE56ooFghmywDdUMScAHdzRlgdxF+2+q5bd0DC7fk/FlduFog5Kyc+d1n2EuJmjxnyrn0TcsHs98DwaQiPgai5yOPa/w7i5lZgWP3IhahpAbJfa0LM6QP61zetAczWNf/ukh0eBmavAuoVOxwBZi8BsufttQ+GxdHKhgVg8TvzYlzXKEDC6l+9qeuk+cVgtlqPlmvSzSC4+atr48Hsov42F7fDZWC2OlANAAFuaigoAgAA" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEANtm/i87V/2ux/W7jK7i58uZGIDg/cqLLm3dwWB274ZOF5OwZDD7+5cPLt/2CnYzgMGB/zITVoLF65oFXePUKyFqTMRcDzzyArMXuHm48kgngdk2vgyu5R+SoOYHugofzgKzH++Ld/Xsh5gf/NjO9fi1fIh63mjXAqMEMPsDUL3K1HQwe0f6aZfmtRD1dkAzee+lgtm3ix1cJyhlgNl8Yl9cWO8mgtlC29xcxW+mgdmnbfVdPS7Hg9lvPFVcu6/VgNla1z1djXP8wWyVN9ddHFijIeYD3XCBBaLmrzyHa9T5UDA7Su+eyy9jiJqknUquFxLqwOzDn/hdP22HhFtxf5vLNmaIfzfIrHFx+wdx88JnUq6crblg9klgmN/yjwGzV17kcZ3yDuJm9xnyrjYFEDU9Auau3uoQc2QW7nBJT2sAs9cDzRTOCAOzJ2zgdN2+KQLM/gwMf7No22BYHLE8XgQW9+OLdv2kkAJm/6s3dRWZXwxml743dj15PwjMLvJ/6HKwHBI+LhFVLsmnysDsQGD8AgBkKYq/KAIAAA==" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEADXRWyjDcRQH8MUmq1FMWU1uyWoPqC1eqH2VtQ0RWZgY2/yXS65ZpKWWpSaWXJ6klAfKJQ9TFhEvvBCSYSOX5BLyoAij88t5+nT6djq/8/Nk/TQ2y/yaMEkqYvdsIby/alSL4XSVkh1DEij1JnKMPhzva1EuHtVGMM49S32VtwfVsm7yGDeIjSsd+XMpDSJpHTnwEg/bK/OBuxDirQbyyMIctMNsvk/HoeKkhbxzuo1AhpF8mbCKlDGOHH8gh2Oe5ZMcWYgIWMjj5ja4k63kj2crBP5acvSAF7G+evJqphOawxryoscA13EveeLGCUVTEflJ1QKVwEAuuA3P3eezTFpQjcq9MvJMdQ4+FSxjzFVg32gnm7/leFthd6vwJcITyt6r1fGg/mE736+nQ9jfTP46kuG0qIrd4VKK0We2c9hiK7JbWUZ4VoN8GZujPBeAq+8jT7YrIbbqySVHyVhZLifn2UXINOSU/v8R/3qa+uvtD3hLNJMt3B1ipjrYnpHF2LkoIfsfhNi0sftYOqNg2u0i6x9F+AXmAl4/KAIAAA==" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEADXRWygDYBQH8GErKxJTU8SIxptbvKBzrDQ8KHKd3DazsKhhibGSpZbM7UVK8UJuIfYgGR6wJisZW21zKw+uLXlALp0v5+nX6d/pfOfbyvxuUYvd0ijJPQhPtf6cvxrdMYPBWEI2+PYgvUxOfryZhPedUCOHyvITZVqgfsdJDtaIu8nShVy03BSQt70WCIpsIPeABbSvzHM1fig4aCYXLvVj/gibf/ckwsrLNrIyYRo9yXXkq9ERjJ9sIvsMDhhYZnn+kBOCPY1kly4GTXEqskQhRp67nnxuG0ehU0mW3Wag9KyW3MYToNHRS54/zMK01iJyiikWgScjRw8+oJ3LMrrDF6g6LSW3693wkcYy2HgH9ro+cqJqF3xmdrdmzipsBbD3rqUaIO+b7RxmtwJ/UM36b5vgKqpmb7zehIlntvNKYhxmtbOMZiwEC8VszlSnCZqUembhOQhUZeSPpA0wr1eQLyKmIEOWXfL/R9zbWeo/yW3oEynIIeU2DJ/RkI8ChXjsLSZ/fc7DnpbdRzO8D3JrF/lZtAi/brvSrCgCAAA=" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEADXRWygDYBQH8MXmPtHUHkhLapEHRTz4zonSXGtlWZjcjdxrZZRErrUwZfIg1+SyJIqRFI1cXqxccp2QFw9i5Z5b58t5+nX6dzrf+Zaiv8sr5ZeJd6k+KN3XOwn+ioWqWbtBRV6pa4VIdSH5QpYCL2u+BgHV+k+AcZr6uRox5sjryfdRR7B+k0wWSQPRy7+ALFQGgP6Re/fcFSXWMvLbVgcm9fD5E7pRzDypJneNTIE9PI/8ZOvAYFMJOU4A0DLL803bChDbi8kFLzI0BpWSP80eILrMJ7s194P0VEuef17GxINc8sDkGRqOG8jvAyEYUaEk/7iYIFakIZsS8tEm5JkHtxjM2k8nd7Zew0cEzwizcsCW10iusiI4LPxuYdpDtuTM3yvx6WSKb77zarwZ3Nsqyb2WcXamzCYbn7eg74HvPNRzD6yGZ17F7pgi53N2vsZZibaJ7G1eZJJSNRl1dmZZyCAPTkVDlAZU/38kvB2jfshKDDpkReR2TwX4Dev4fJdy2L1KIzvmZtiGnt8HVHIo3Ksldzdssl9TyhwaKAIAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="312" />
    <add key="treeView.Columns.Value.Width" value="125" />
    <add key="treeView.Columns.Min.Width" value="125" />
    <add key="treeView.Columns.Max.Width" value="125" />
    <add key="listenerPort" value="8085" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEADXRWyiDYRgHcNkoRQ5TLhxCMlHSnMqh/y6QUy0TOSwbw+QQUpaS1OLCZ32Y5RCbRkpxQ3MoyuEGqc2ZCTleSi4oFxs9L8/Vr7f/+/S8z7ua6mxqEd/mtkeMI8imdXf7LVeMHv1cMfnbxiOpVE1OmOXxueXPuVFtu0KGFuhcrrGgStxFPnEsYPsxn/x8boB3cA05LpqH9p05Od0C0V4j+bD9GHk86z/ls4Lyq1byXNUJ7hJU5IinG0QZNeQonRm6JZbftI7B566OLDEtYiiygVwYPA6P22qyI+sIQdf1rOfZOnJPlWSZYAPcRTe7uz+DxGYZOTB1DlKPSvIIhFK7kGValSZU2ErI2foJfCeyTOiLAXZVDzlNwuNjje1NN89hVcDeW/IygBwnmzls2QivvhayKX0QDpmC3HltwOgbmzl+ehIZbX+ZpgkUiFmfyTw9NPW95IDXEYgaSslFrkGsLZeRr6zDSKnMLP7/I+GThc6dfl/4CK8l7z54SgPNHWT/h3kc3MvJb74cdrRsP7HGMagPO8mKywH8AJjnk1UoAgAA" />
  </appSettings>
</configuration>